/* Tombol Chat */
.btn-chat {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100px;
    font-weight: bold;
}

.btn-chat:hover {
    background-color: #333;
    color: #fff;
}

/* Tombol Keranjang */
.btn-keranjang {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 300px;
    font-weight: bold;
}

.btn-keranjang:hover {
    background-color: #333;
    color: #fff;
}

/* Tombol Beli */
.btn-beli {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333; 
    color: #f7f7f7;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 300px;
    font-weight: bold;
}


/* bintang */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl; 
    text-align: left;
    color: #ffd700;
    font-size: 20px;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.rating > span:before {
    content: "\2606";
    position: absolute;
}

.btn-buy {
    width: 200px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

li{
   margin-left: 0px;
   text-align: left;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

.foto-seller{
        width: 75px; 
        height: auto; 
}