/* Gaya untuk tombol dengan kelas btn-produk */
.btn-produk {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Hover effect */
.btn-produk:hover {
    background-color: #333;
    color: #fff;
}

/* Gaya untuk bintang */
.rating {
    unicode-bidi: bidi-override;
    text-align: left;
    color: #ffd700;
    font-size: 20px;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.rating > span:before {
    content: "\2606";
    position: absolute;
}

.btn-buy {
    width: 200px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}
